<html>
  <head>
    <title>Merchant Check Out Page</title>
  </head>
  <body>
    <center>
      <h1>Please do not refresh this page...</h1>
    </center>
    <form
      method="post"
      action="https://securegw-stage.paytm.in/order/process"
      name="paytm"
    >
      <table border="1">
        <tbody>
          <% for(key in result){%>
          <input type="hidden" name="<%= key %>" value="<% result[key] %>" />
          <%}%>
        </tbody>
      </table>
      <script type="text/javascript">
        document.paytm.submit();
      </script>
    </form>
  </body>
</html>
